<b> Hello</b>
<br>
Welcome to my Sandwich Shop!
What kind of Sandwich would you like? <!--Asks the user for input-->
 <!-- Creates a form that accepts a sandwich selection, topping and side in a component called sandwich_choice-->

<html>
<body>

<form method="post" action="sandwich_choice">
  <input type="radio" name="a_sandwich" value="Turkey"> Turkey<br>
  <input type="radio" name="a_sandwich" value="Ham"> Ham<br>
  <input type="radio" name="a_sandwich" value="BLT"> BLT<br>
  <input type="radio" name="a_sandwich" value="Pastrami"> Pastrami<br>
  <input type="radio" name="a_sandwich" value="Roast Beef"> Roast Beef<br><br>



 <br>
 <br>

What topping would you like?<br>

  <input type="radio" name="a_topping" value="Cheese"> Cheese<br>
  <input type="radio" name="a_topping" value="Pickles"> Pickles<br>
  <input type="radio" name="a_topping" value="Tomato"> Tomato<br>
  <input type="radio" name="a_topping" value="Onions"> Onions<br>
  <input type="radio" name="a_topping" value="Lettuce"> Lettuce<br>
  <input type="radio" name="a_topping" value="Ketchup"> Ketchup<br><br>


What side would you like?<br> 
  <input type="radio" name="a_side" value="Fries"> Fries<br>
  <input type="radio" name="a_side" value="Cheese Fries"> Cheese Fries<br>
  <input type="radio" name="a_side" value="Onion Rings"> Onion Rings<br>
  <input type="radio" name="a_side" value="Side Salad"> Side Salad<br><br> 
  <input type="submit">
</form> 




</body>
</html>
